[user]
    name = ktomaszewski
    email = tomaszewski.kamil.97@gmail.com
[core]
    editor = vim
    pager = cat
[color]
    ui = auto
[color "branch"]
    current = green bold
    local = yellow bold
    remote = red bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[init]
    defaultBranch = master
[status]
    showUntrackedFiles = all
[commit]
    verbose = true
[fetch]
    prune = true
[pull]
    rebase = merges
[push]
    default = simple
    followTags = true
[merge]
    ff = false
    conflictStyle = zdiff3
[rebase]
    autoSquash = true
    autoStash = true
[alias]
    alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
    s = status
    a = add .
    ap = add -p
    c = commit
    ch = checkout
    m = merge --no-ff
    rr = rebase -r
    ri = rebase -i
    pf = push --force-with-lease
    f = fetch --all --prune
    l = log --oneline --graph --decorate --all
    ll = log --pretty=format:'%C(yellow)%h%Creset %ad | %s %Cgreen(%an)%Creset' --date=short
    lg = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%d%C(reset) %s %C(bold green)(%cr) %C(bold yellow)<%an>%C(reset)'
